body {
  background: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin: 10px;
  padding: 10px;
  background: green;
  border: solid 1px black;
  size: 33px;
  color: white;
  line-height: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
